extends layout

block content
    p(align="center") Add Comment
    textarea(rows="3" cols="20")
    button#combutton
    script(src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js")
    script(src="/javascripts/ApiForAdd.js")





